﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Index</h1>
<p id="user"></p>
<div id="articleList"></div>
<script>
    var userId = Math.floor((Math.random() * 100) + 1);
    document.addEventListener("DOMContentLoaded", ready);

    document.getElementById("user").innerHTML = "UserId: " + userId;</script>
<script src="~/js/microsoft-signalr/signalr.js"></script>
<script src="~/js/usernotification.js"></script>